body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937 ;
    color: #F9Faf8;
    padding: 10px;
    padding-left: 20%;
    padding-right:20%;
}
.header-logo {
    font-size: 24px;
    color: #F9Faf8;
    font-weight: bold;
}
.hero {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding-left: 20%;
    padding-right:20%;
    padding-bottom: 100px;
    padding-top: 100px;
}
.hero-title {
    color: #F9Faf8;
    font-size: 48px;
    font-weight: bolder;
}
.hero-text {
    color: #E5E7EB;
    font-size: 18px; 
}
.placeholder-text {
    background: rgba(220, 220, 220, 0.3)  ;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    line-height: 300px;
}

.signup {
    border-radius: 10px;
    font-size: 20px;
    background-color:  #3882f6 ;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;

}
.left-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 auto;
    max-width: 400px;
}
.right-items {
    flex: 1 0 auto;
}
.information-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 25px;
    margin-bottom: 40px;
}
.information {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-left: 30%;
    padding-right:30%;
}

.box {
    flex: 1 1 100px;
    border-style: solid;
    border-color:#3882f6;
    border-radius: 10px;
    align-self: stretch;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    text-align: center;
}